<form novalidate
      [formGroup]="loginForm"
      class="loginForm"
      (submit)="signIn()">
  <mat-form-field>
    <input matInput
           autofocus
           id="username"
           name="username"
           type="email"
           formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput
           type="password"
           id="password"
           name="password"
           formControlName="password">
  </mat-form-field>

  <button mat-raised-button
          id="loginBtn"
          color="primary"
          type="submit"
          [disabled]="loginForm.pristine || loginForm.invalid || waiting"
          name="action">LOGIN</button>

  <span id="error" *ngIf="error && loginForm.pristine">
    <small>Username and/or password is incorrect.</small>
  </span>
</form>
