header {
  position: relative;
  text-align:center;
  color: #fff;
}

header h1 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 300;
  color: #fff;
}

header span {
  font-size: 14px;
  font-weight: 100;
  color: #fff;
}

#stripes {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transform-origin: 0;
  background: linear-gradient(150deg, #45ade1 15%, #0068c3 94%);
}

.header-container {
  padding: 70px 0;
  position: relative;
}

.spinner-container {
  position: relative;
  display: flex;
  padding: 12px;
  margin: 80px 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 6px   20px 0px rgba(0, 0, 0, 0.23),
              0 0 1px 0 rgba(0, 0, 0, 0.4);
  background-color: #fff;
}

section h2 {
  color: #24b47e;
  font-weight: 600;
  font-size: 22px;
}

#content {
  position: relative;
  overflow: hidden;
  padding-bottom: 200px;
}

#primary,
#secondary {
  margin: 50px 0 100px;
  min-height: 300px;
}

#secondary {
  position: relative;
  padding-top: 140px;
  min-height: 270px;
}

#secondary:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 180%;
  top: 0;
  transform: skewY(-11deg);
  background: #e0ebf5;
}

footer {
  margin: 40px 0;
}

@media (min-width: 800px) {
  header h1 {
    font-size: 52px;
  }

  .header-container {
    padding: 150px 0 300px;
  }

  #stripes {
    transform: skewY(-11deg);
  }
}
