<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div id="stripes"></div>
  <div class="container header-container">
      <h1>Welcome to {{ title }}</h1>
      <h2>
        <span id="appName">{{ (appInfo$ | async)?.payload.val().name }}</span>
        <span id="appVersion">v.{{ version }}</span>
      </h2>
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  <div class="container">
    {{ (appInfo$ | async)?.payload.val().name }} &copy; 2018
  </div>
</footer>
