<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div id="stripes"></div>
  <div class="container header-container">
      <h1>Welcome to {{ title }}</h1>
      <h2>
        {{ (appInfo$ | async)?.payload.val().name }}
        <span>v.{{ version }}</span>
      </h2>
  </div>
</header>

<div id="content">
  <section id="primary" class="talk_section">
    <div class="container">
      <h2 mat-subheader>Coming Next</h2>

      <div *ngIf="comingTalks$ | async; let comingTalks; else loading">
        <mat-list *ngIf="comingTalks.length > 0; else noResult" @talkItem>
          <h3 mat-subheader>Speakers</h3>
          <mat-list-item *ngFor="let talk of comingTalks; last as last">
            <mat-icon mat-list-icon>mic</mat-icon>
            <h4 mat-line>{{ talk.title }}</h4>
            <h4 mat-line>{{ talk.presenter }}</h4>
            <p mat-line>{{ talk.updated | date }}</p>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>

        <ng-template #noResult><p>No Talks yet</p></ng-template>

        <button mat-raised-button color="primary" (click)="addItem('test')">Add</button>
      </div>

      <ng-template #loading>
        <mat-spinner @spinner
                    class="centered spinner"
                     diameter="80"
                     color="primary"
                     mode="indeterminate"></mat-spinner>
      </ng-template>
    </div>
  </section>

  <section id="secondary" class="talk_section">
    <div class="container">
      <h2 mat-subheader>Past Talks</h2>

      <div *ngIf="pastTalks$ | async; let pastTalks; else pastTalksLoading">
        <mat-list *ngIf="pastTalks.length > 0; else pastTalksNoResult" @talkItem>
          <h3 mat-subheader>Speakers</h3>
          <mat-list-item *ngFor="let talk of pastTalks">
            <mat-icon mat-list-icon>mic</mat-icon>
            <h4 mat-line>{{ talk.title }}</h4>
            <h4 mat-line>{{ talk.presenter }}</h4>
            <p mat-line>{{ talk.updated | date }}</p>
          </mat-list-item>
        </mat-list>

        <ng-template #pastTalksNoResult><p>Nothing here yet</p></ng-template>
      </div>

      <ng-template #pastTalksLoading>
        <mat-spinner class="centered"
                     diameter="80"
                     color="primary"
                     mode="indeterminate"></mat-spinner>
      </ng-template>
    </div>
  </section>
</div>

<footer>
  <div class="container">
    {{ (appInfo$ | async)?.payload.val().name }} &copy; 2018
  </div>
</footer>
